
body {
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.alert-info{
    border: 1px solid lightgray;
}
img {
    width: 100%;
}
@media screen and (min-width:576px){

}