body {
    font-family: sans-serif;
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.alert-info{
    border: 1px solid lightgray;
    background-color: rgb(214,254,254);
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
h1 {
    font-size: 3rem;
    margin: 0;
}
ul {
    display: flex;
    flex-direction: column;

}
li {
    background-color: lightgray;
    list-style: none;
    padding: 20px 140px;
    margin-right: 35px;
    margin-bottom: 10px;
}
li.a {
    margin: auto;
}

img {
    width: 339px;
    height: 244px;
}
#main {
    padding: 0;
    margin-top: 0;
}
h2 {
    margin-bottom: 0;
}
section p {
    margin-top: 2px;

}
.footer {
    display: flex;
    margin-top: 30px;
}
footer p {
    margin-right: 160px;
}
section:nth-of-type(2) {
    margin-bottom: 50px;
}
.sub-section {
    font-style: italic;
}
.sub-section h2 {
    font-size: 1.2rem;
}
@media screen and (min-width:768px){
    body {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 20px;
    }
    .hidden-on-desktop {
        display: none;
    }

    .nav-links {
        flex-direction: row;
        margin-top: 1.2rem;
    }

    .nav-links li {
        background: none;
    }
    .main {
        flex-basis: 55%;
    }
    .sub-section {
        flex-basis: 35%;
    }
    .header-img {
        width: 100%;
    }
   /* body{*/
   /*     flex-direction: row;*/
   /*     flex-wrap: wrap;*/
   /*     display: flex;*/
   /* }*/
   /* div.alert-info {*/
   /*     display: none;*/
   /* }*/
   /* h1 {*/
   /*     display: flex;*/
   /*     justify-content: start;*/
   /*     margin-right: 390px;*/
   /* }*/
   /* .header-img {*/
   /*     box-sizing: border-box;*/
   /*     padding: 0;*/

   /* }*/
   /* img {*/
   /*     width: 890px;*/
   /*     height: 385px;*/
   /*     margin: 0;*/
   /*     margin-top: 30px;*/
   /*     margin-left: 20px;*/
   /*     margin-right: 20px;*/
   /* }*/

   /* ul {*/
   /*     display: flex;*/
   /*     flex-direction: row;*/
   /*     justify-content: space-between;*/

   /* }*/
   /* li {*/
   /*     margin: 0 10px;*/
   /*     padding: 0;*/
   /*     background-color: white;*/
   /* }*/

   /*section:nth-of-type(1) {*/
   /*    flex: 2.5;*/
   /*}*/
   /* section:nth-of-type(2) {*/
   /*     flex: 2;*/
   /* }*/


}